:root {
    --primary-bg: #0a192f;
    --secondary-bg: #172a45;
    --accent-color: #4cc9f0;
    --accent-secondary: #7209b7;
    --text-primary: #e6f1ff;
    --text-secondary: #8892b0;
    --glass-effect: rgba(255, 255, 255, 0.05);
    --glass-border: rgba(255, 255, 255, 0.1);
    --success-color: #4ade80;
    --warning-color: #f59e0b;
    --error-color: #f87171;
    --hover-btn: #3aa8d8;
}


footer {
    background: linear-gradient(rgba(10, 25, 47, 0.663),
            rgba(10, 25, 47, 0.7)), url("/assets/images/431ce5d15aab86f66a91ec9a07c9114f.gif") no-repeat center center;
    background-size: cover;
    color: var(--text-primary);
    padding: 2rem 0;
    min-height: 420px;
    border-radius: 10px 10px;
    justify-content: center;
}

footer h5 {
    color: var(--accent-color);
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
}

footer .accent {
    color: var(--text-primary);
}

footer a {
    color: var(--text-secondary);
    text-decoration: none;
    transition: color 0.3s ease;
    margin-bottom: 0.4px;
}

footer a:hover {
    color: var(--accent-color);
}

#section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.cont {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    width: auto;
}

hr {
    border: 0;
    height: 3px;
    background: var(--warning-color);
    margin-top: 5rem;
}

article,
.row {
    padding: 20px;
    margin-top: 2rem;
}